body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    list-style-type: none;
}

a {
   color: white;
   text-decoration: none;
}

.center {
    text-align: center;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid darkmagenta;
}

h1 {
    color: darkmagenta;
}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.container {
    padding: opx 50px;
}

nav a:hover {
    color: darkmagenta;
}

.contact:hover {
    color: darkmagenta;
}
